body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

#container{
    background-color: white;
}

.left-pane{
    background-color: white;
    width: 20vw;
    height: 100vh;
    padding-left: 5px;
    padding-right: 10px;
}

.logo{
    width: 60%;
    padding-top: 30px;
    margin: 0 auto;
}

#img-container{
    max-width: 100%;
    max-height: 100%;
}

#flexContainer{
    display: flex;
    flex-direction: row;
}

#right-pane{
    flex: 1;
    text-align: center;

}

#rectangle{
    display: flex;
    flex-direction: row;
    margin-top: 150px; 
    width: 800px;
    height: 400px;
    margin-bottom: 100px;
    background-color: #099dfd;
}

#leftBox{
    width: 400px;
    height: 400px;
    margin: auto;
    background-color: none;
}

#illustration{
    max-width: 100%;
    max-height: 100%;
}

#illustrationContainer{
    width: 200px;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 45px;
    background-color: none;
}

#leftText{
    font-size: 2.5 rem;
    color: white;
}

#rightBox{
    width: 400px;
    height: 400px;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
    box-shadow: 2px 2px 2px rgba(119, 116, 116, 0.219);
}

#loginContainer{
    margin-top: 100px;
}

#email{
    margin-top: 20px;
}

input{
    margin-top: 10px;
    padding: 5px;
    width: 90%;
    font-size: 1.25rem;
    border: 2px solid #099dfd;
    border-radius: 5px;
}

.submitButton{
    background-color: #099dfd;
    margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
    padding-left: 15px;
    color: white;
    border: none;
    font-size: 1.25rem;
    border-radius: 10px;
}

#rightText{
    font-size: 1.95 rem;
    color: black;
}

#highlighted{
    color: #099dfd;
}